{% extends 'base.html.twig' %}

{% block title %}LEKCE 7 remember{% endblock %}
{% block navigation %} Tohle je horní blok. Vychází z base templatu, ale tenhle jsme změnili speciálně pro remember stránku.{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('beta') }}">BETA</a>
    <a href="{{ path('detail') }}">DETAIL</a>
    <a href="{{ path('pozdrav',{'pozdrav': 'Master'}) }}">Pozdrav-Master</a>
    <a href="{{ path('pozdrav',{'pozdrav': 'Slave'}) }}">Pozdrav-Slave</a>
    <a href="{{ path('homework') }}">HOMEWORK</a>



</div>
{% endblock %}
